.header-color {
  background: #373837;
  color: white;
}
.redText {
  color: red;
}

.landingPage {
  height: auto;
}

.logo-image {
  position: absolute;
  width: 50vh;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.material-icons {
  color: #ffffff
}
.textfieldContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-Color: #4F6175;
  border-radius: 5px;
  text-align: center;
}

.projectContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6{
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardStyling {
  width: '30%'; 
  height: '250px';
  margin: '1%';
  float:"left";
  background-color:"black";
}

.ProjectImage {
  width: 40vw;
  height: 50vh;
}