.header-color {
  background: #373837;
  color: white;
}

.landingPage {
  height: auto;
}

.logo-image {
  position: absolute;
  width: 50vh;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.material-icons {
  color: #ffffff
}
.textfieldContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-Color: #4F6175;
  border-radius: 5px;
}

.grid-1, .grid-2, .grid-3, .grid-4{
  display: flex;
  justify-content: center;
  align-items: center;
}